@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

//Variables:

:root {
  --color01: #232943;
  --color02: #ff256a;
  --color03: #ff4e86;
  --blanco-grisaceo: rgba(255, 255, 255, 0.485);

  --colorbackground02: #0b0b0b;
  --colorbackground01: #02060d;
  --padding-section: 6vw;
}

//Generales:

* {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

p {
  text-wrap: pretty;
}

a {
  text-decoration: none;
}

//Main

//section1

.section1 {
  padding: 1vh var(--padding-section);

  background-image: url(/assets/login.jpg);
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.447);
  background-blend-mode: multiply;
  color: white;

  .header {
    nav {
      .navbar-toggler-icon {
        filter: invert(1);
      }

      .separarLogo {
        color: white;
        margin: 0;
        padding: 0;
        margin-right: 5rem;

        img {
          width: 4rem;
        }
      }

      .nav-link {
        color: white;
        font-weight: bold;
        margin: 0 20px;
      }

      .nav-link:hover {
        color: white;
        text-decoration: underline;
        text-decoration-thickness: 3px;
      }
    }
  }

  .profile {
    padding: 5vh var(--padding-section);
    margin: 2rem;

    background-image: url(/assets/section3.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.604);
    background-blend-mode: multiply;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    .parteAlta {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      h1 {
        font-weight: bold;
        font-size: 5rem;
        font-family: "Bebas Neue";
        letter-spacing: 1px;
        margin: 0;
      }

      .panelBotones {
        display: flex;
        flex-wrap: wrap;

        a {
          margin: 10px 25px;
          img {
            width: 22px;
            filter: invert(1);
          }
        }

        button {
          background: none;
          border: 1px solid transparent;
          font-weight: bold;
        }

        button:hover {
          color: var(--color02);
          text-decoration: underline;
          text-decoration-thickness: 3px;
        }
      }
    }

    .cosas {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 40px 0;

      .imagen {
        img {
          width: 500px;
        }
      }

      .bandas {
        display: flex;
        flex-direction: column;
        padding: 30px;
        margin-left: 30px;

        h2 {
          font-size: 3.5rem;
          font-weight: bold;
        }

        h3 {
          font-size: 2rem;
          font-weight: lighter;
          color: var(--blanco-grisaceo);
        }

        .marcaFooter {
          filter: invert(1);

          img {
            width: 150px;
            margin: 0 20px;
          }
        }

        > div {
          display: flex;
          align-items: center;
          align-content: center;
          margin: 10px 0;
          margin-bottom: 0;

          p {
            font-size: 1.1rem;
          }

          .telefono {
            margin-left: 70px;
          }

          img {
            filter: invert(1);
            width: 20px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}

@media (width <= 1511px) {
  .section1 {
    .profile {
      .parteAlta {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
  
        h1 {
          font-weight: bold;
          font-size: 5rem;
          font-family: "Bebas Neue";
          letter-spacing: 1px;
          margin: 0;
        }
  
        .panelBotones {
          display: flex;
          flex-wrap: wrap;
  
          a {
            margin: 10px 25px;
            img {
              width: 22px;
              filter: invert(1);
            }
          }
  
          button {
            background: none;
            border: 1px solid transparent;
            font-weight: bold;
          }
  
          button:hover {
            color: var(--color02);
            text-decoration: underline;
            text-decoration-thickness: 3px;
          }
        }
      }
      .cosas {
        display: flex;

        justify-content: center;
        align-items: center;
        margin: 40px 0;
        scale: 0.9;

        .imagen {
          img {
            width: 500px;
          }
        }
        
      .bandas {
        display: flex;
        flex-direction: column;
        padding: 30px;
        margin-left: 30px;

        h2 {
          font-size: 3.5rem;
          font-weight: bold;
        }

        h3 {
          font-size: 2rem;
          font-weight: lighter;
          color: var(--blanco-grisaceo);
        }

        .marcaFooter {
          filter: invert(1);

          img {
            width: 150px;
            margin: 0 20px;
          }
        }

        > div {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          align-content: center;
          margin: 10px 0;
          margin-bottom: 0;

          p {
            font-size: 1.1rem;
          }

          .telefono {
            margin: 0;
          }

          img {
            filter: invert(1);
            width: 20px;
            margin-right: 10px;
          }
        }
      }

      
      }
    }
  }
}


@media (width <= 1245px) {
  .section1 {
    .profile {
      .cosas {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 40px 0;
        gap: 20px;
        scale: 1;


        .imagen {
          img {
            width: 600px;
          }
        }

        .bandas {

          display: flex;
          flex-direction: column;
          padding: 30px;
          margin-left: 30px;
        }
      }
    }
  }
}


@media (width <= 992px) {
  .section1 {
    .profile {
      .cosas {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 40px 0;
        gap: 20px;
        scale: 1;


        .imagen {
          img {
            width: 400px;
          }
        }

        .bandas {
          display: flex;
          flex-direction: column;
          padding: 30px;
          margin-left: 30px;
  
          h2 {
            font-size: 3.5rem;
            font-weight: bold;
          }
  
          h3 {
            font-size: 2rem;
            font-weight: lighter;
            color: var(--blanco-grisaceo);
          }
  
          .marcaFooter {
            display: flex;
            justify-content: center;
            filter: invert(1);
  
            img {
              width: 150px;
              margin: 0 20px;
            }
          }
  
          > div {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            margin: 10px 0;
            margin-bottom: 0;
  
            p {
              font-size: 1.1rem;
            }
  
            .telefono {
              margin: 0;
            }
  
            img {
              filter: invert(1);
              width: 20px;
              margin-right: 10px;
            }
          }
        }
  
      }
    }
  }
}

@media (width <= 660px) {
  .section1 {
    .profile {
      .cosas {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 40px 0;
        gap: 20px;
        scale: 1;


        .imagen {
          img {
            width: 300px;
          }
        }

        .bandas {

          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          margin: 0;
          padding: 0;

         
        }
      }
    }
  }
}







//Section2

.section2 {
  padding: 15vh var(--padding-section);
  background-image: url(/assets/fondo_conciertos.jpg);
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.447);
  background-blend-mode: multiply;
  color: white;

  h3 {
    text-align: center;
    font-weight: bold;
    font-size: 5rem;
    font-family: "Bebas Neue";
    letter-spacing: 1px;
    margin: 0;
  }

  hr {
    opacity: 1;
    color: white;
    height: 2px;
    margin-bottom: 100px;
  }

  .tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .boxConcert {
      padding: 20px 40px;
      background-color: #0b0b0bde;
      color: white;
      border-radius: 10px;
      box-shadow: rgba(226, 226, 226, 0.35) 0px 5px 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;

      .date {
        p {
          margin: 0;
          font-size: 1.2rem;
          text-align: center;
        }

        hr {
          margin: 0;
          margin: 10px 0;
          height: 1px;
          opacity: 0.8;
        }
      }

      .foto {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
          rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        img {
          width: 220px;
          height: 140px;
        }
        overflow: hidden;
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.35);
      }

      .city {
        padding: 10px;
        display: flex;
        flex-direction: column;

        h4 {
          font-weight: bold;
          margin-bottom: 10px;
        }

        p {
          padding: 0;
        }
      }

      .tickets {
        margin: 0 10px;
        filter: invert(1);

        p {
          margin: 0;
        }
      }
    }

    .boxConcert:hover {
      background-color: #2b2b2bde;
      border: 1px solid white;
    }
  }
}

@media (width <= 992px) {

  .section2 {
    
 
  

  
    .tarjetas {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  
      .boxConcert {
        padding: 20px 40px;
        background-color: #0b0b0bde;
        color: white;
        border-radius: 10px;
        box-shadow: rgba(226, 226, 226, 0.35) 0px 5px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        scale: 0.9;
  
        .date {
          p {
            margin: 0;
            font-size: 1.2rem;
            text-align: center;
          }
  
          hr {
            margin: 0;
            margin: 10px 0;
            height: 1px;
            opacity: 0.8;
          }
        }
  
        .foto {
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
            rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          img {
            width: 220px;
            height: 140px;
          }
          overflow: hidden;
          border-radius: 10px;
          border: 1px solid rgba(255, 255, 255, 0.35);
        }
  
        .city {
          padding: 10px;
          display: flex;
          flex-direction: column;
  
          h4 {
            font-weight: bold;
            margin-bottom: 10px;
          }
  
          p {
            padding: 0;
          }
        }
  
        .tickets {
          margin: 0 10px;
          filter: invert(1);
  
          p {
            margin: 0;
          }
        }
      }
  
      .boxConcert:hover {
        background-color: #2b2b2bde;
        border: 1px solid white;
      }
    }
  }

}

@media (width <= 660px) {

  .section2 {
    
 
  

  
    .tarjetas {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  
      .boxConcert {
        padding: 20px 40px;
        background-color: #0b0b0bde;
        color: white;
        border-radius: 10px;
        box-shadow: rgba(226, 226, 226, 0.35) 0px 5px 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
        scale: 0.8;
  
        .date {
          p {
            margin: 0;
            font-size: 1.2rem;
            text-align: center;
          }
  
          hr {
            margin: 0;
            margin: 10px 0;
            height: 1px;
            opacity: 0.8;
          }
        }
  
        .foto {
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
            rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          img {
            width: 220px;
            height: 140px;
          }
          overflow: hidden;
          border-radius: 10px;
          border: 1px solid rgba(255, 255, 255, 0.35);
        }
  
        .city {
          padding: 10px;
          display: flex;
          flex-direction: column;
  
          h4 {
            font-weight: bold;
            margin-bottom: 10px;
          }
  
          p {
            padding: 0;
          }
        }
  
        .tickets {
          margin: 0 10px;
          filter: invert(1);
  
          p {
            margin: 0;
          }
        }
      }
  
      .boxConcert:hover {
        background-color: #2b2b2bde;
        border: 1px solid white;
      }
    }
  }

}

